*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 3s background-color;
    margin-top: 30px;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    margin-top: 30px;
    transition: 5s ease-in width;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    margin-top: 30px;
    transition: 3s ease-in border-radius;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    margin-top: 30px;
    transition: 3s opacity;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    margin-top: 30px;
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 5s width height, 5s width height;
}

.ex-5-square:hover{
    width: 90px;
    height: 90px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}




